<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card m-3 text-center" style="width: 50rem;">
            <h2 class="card-header font-weight-light">Change Password</h2>
                    <div class="card-body text-center">
                    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">                
                        <div class="form-group">
                            <input type="password" class="form-control" 
                            id="oldPassword" placeholder="Enter old password" 
                            aria-describedby="oldPasswordHelp"
                            formControlName="oldPassword"
                            [class.is-invalid]="(oldPassword.dirty || oldPassword.touched) 
                            && oldPassword.invalid"
                            required>
                            <small *ngIf="(oldPassword.dirty || oldPassword.touched) 
                            && oldPassword.invalid "
                            class="text-danger">
                                Incorrect password
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" 
                            id="newPassword" placeholder="Enter new password" 
                            aria-describedby="newPasswordHelp"
                            formControlName="newPassword"
                            [class.is-invalid]="(newPassword.dirty || newPassword.touched) 
                            && newPassword.invalid"
                            [class.is-valid]="(newPassword.dirty || newPassword.touched) 
                            && !(newPassword.invalid)"
                            required>
                            <small *ngIf="(newPassword.dirty || newPassword.touched) 
                            && newPassword.invalid "
                            class="text-danger">
                                Your password must be at least 7 characters long, start with a letter and include at least one capital letter, one number and one special character.
                            </small>
                            <small id="newPasswordHelp" class="form-text text-muted"
                            *ngIf="!(newPassword.dirty || newPassword.touched) ">
                                Your password must be at least 7 characters long, start with a letter and include at least one capital letter, one number and one special character.
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" 
                            id="confirmPassword" placeholder="Confirm your new password" 
                            formControlName="confirmPassword"
                            [class.is-invalid]="(confirmPassword.dirty || confirmPassword.touched) 
                            && confirmPassword.invalid"
                            [class.is-valid]="(confirmPassword.dirty || confirmPassword.touched) 
                            && !confirmPassword.invalid"
                            required>
                            <small *ngIf="(confirmPassword.dirty || confirmPassword.touched) 
                            && confirmPassword.invalid"
                            class="text-danger">
                                Passwords do not match.
                            </small>
                        </div>
                        <div class="d-flex justify-content-between">
                  
                            <button type="submit" class="btn btn-outline-success"  [disabled]="!passwordForm.valid">
                              Apply changes          
                            </button>
          
                            <button type="button" class="btn btn-outline-danger" (click)="onCancel()">
                                Cancel
                            </button>
          
                          </div>
          
                        
                    </form>
                </div>
            </div>
    </div>
</div>



